/**
 * Shadow classes
 *
 *
 * (_variables.scss)
 */
.z-depth-0 {
    box-shadow: $z-depth-0;
}

.z-depth-1 {
    box-shadow: $z-depth-1;
}

.z-depth-2 {
    box-shadow: $z-depth-2;
}

.z-depth-3 {
    box-shadow: $z-depth-3;
}

.z-depth-4 {
    box-shadow: $z-depth-4;
}

.z-depth-5 {
    box-shadow: $z-depth-5;
}

.z-depth-6 {
    box-shadow: $z-depth-6;
}

.z-depth-7 {
    box-shadow: $z-depth-7;
}

.z-depth-8 {
    box-shadow: $z-depth-8;
}

.z-depth-9 {
    box-shadow: $z-depth-9;
}

.z-depth-10 {
    box-shadow: $z-depth-10;
}

.z-depth-11 {
    box-shadow: $z-depth-11;
}

.z-depth-12 {
    box-shadow: $z-depth-12;
}

.z-depth-13 {
    box-shadow: $z-depth-13;
}

.z-depth-14 {
    box-shadow: $z-depth-14;
}

.z-depth-15 {
    box-shadow: $z-depth-15;
}

.z-depth-16 {
    box-shadow: $z-depth-16;
}

.z-depth-17 {
    box-shadow: $z-depth-17;
}

.z-depth-18 {
    box-shadow: $z-depth-18;
}

.z-depth-19 {
    box-shadow: $z-depth-19;
}

.z-depth-20 {
    box-shadow: $z-depth-20;
}

.z-depth-21 {
    box-shadow: $z-depth-21;
}

.z-depth-22 {
    box-shadow: $z-depth-22;
}

.z-depth-23 {
    box-shadow: $z-depth-23;
}

.z-depth-24 {
    box-shadow: $z-depth-24;
}
